*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
}

@media (min-width: 700px)
{
  .topics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-and-description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .meet-cards-grid {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}