<template>
  <div>
    <NavBar />
    <Jumbotron />
    <div class="topics">
      <Topic
        src="https://i.imgur.com/y15HCCN.png"
        alt="skills"
        content="Inspirado no movimento da Aprendizagem Baseada em Competências e no uso da tecnologia para a inclusão digital."
      />
      <Topic
        src="https://i.imgur.com/Z3iBzbv.png"
        alt="flexibility"
        content="Múltiplas estratégias de aprendizagem ativa integradas a um plano de aprendizagem."
      />
    </div>
    <Title content="O que é o Projeto ALEX?" />
    <Video link="https://www.youtube.com/embed/c6WbzP-dABE" />
    <div class="topics">
      <Topic
        src="https://i.imgur.com/BI2Fn49.png"
        alt="tech"
        content="Nós usamos a tecnologia para oferecer educação híbrida, inclusiva e antifrágil. Acreditamos que todos os estudantes devem ter continuidade do seu processo educativo: em qualquer momento, em qualquer lugar, mesmo sem acesso a internet."
      />
      <Topic
        src="https://i.imgur.com/XutU9CA.png"
        alt="book"
        content="A utilização da tecnologia, aliado a uma mescla estratégica de métodos ativos permitirá uma melhora em nossos processos de ensino-aprendizagem. Todo o material didático disponível na Internet deve ser um instrumento pedagógico utilizável, reutilizável e altamente disponível para todos que buscam aprender."
      />
    </div>
    <Title content="Arquitetura do Projeto ALEX" />
    <!-- acrescentar imagem mobile -->
    <!-- <Gif src="https://i.imgur.com/k3IcvrG.png" alt="alex-dashboard" /> -->
    <VideoTopic
      link="https://www.youtube.com/embed/EE9zEiVdu1Q"
      content="No ALEX, os professores planejam seus cursos no formato de um Plano de Aprendizagem, que pode contemplar uma diversidade de abordagens pedagógicas ativas."
    />
    <Topic
      src="https://i.imgur.com/thjwbWv.png"
      alt="puzzle"
      content="Este plano é dividido em trilhas de aprendizagem, que o quebram em pedaços menores, com focos de aprendizagem específicos, mas dentro de uma visão geral bem estabelecida no plano de aprendizagem. Cada trilha foca em desenvolver um determinado aspecto de aprendizagem: conteúdo, competência, projeto, etc. O plano de aprendizagem e suas Trilhas devem estar disponíveis 100% offline para que os estudantes mantenham seus estudos continuamente."
    />
    <!-- acrescentar imagem mobile -->
    <!-- <Gif src="https://i.imgur.com/k3IcvrG.png" alt="alex-dashboard" /> -->
    <Title content="Centrado no Estudante" />
    <Description
      content="A plataforma ALEX é construída desde o início para suportar as diversas metodologias ativas:"
    />
    <div class="grid">
      <Card content="Aprendizagem baseada em Equipes" />
      <Card content="Aprendizagem baseada em problemas" />
      <Card content="Mistura ('Blend') de métodos ativos" />
      <Card content="Aprendizagem por Pares" />
      <Card content="Aprendizagem Invertida" />
      <Card content="Aprendizagem baseada em Projetos" />
    </div>
    <Title content="Para Professores" />
    <Description
      content="Os Professores compõem o Plano de Aprendizagem como se estivessem escrevendo um Ebook Multimídia utilizam de hipertexto, vídeos, imagens, tabelas, hiperlinks, arquivos em anexo…"
    />
    <!-- acrescentar imagem mobile -->
    <!-- <Gif src="https://i.imgur.com/k3IcvrG.png" alt="alex-dashboard" /> -->
    <Title content="Para Alunos" />
    <Description
      content="Caso estejam online, os estudantes podem sempre visualizar seus planos pela plataforma ALEX, usando um nome de usuário e senha. Caso necessitem utilizar o plano offline, os estudantes baixam o ALEXSync, instalam, fazem login na plataforma e baixam para um HD Externo / Pendrive para dar continuidade a seus estudos em qualquer lugar, a qualquer momento"
    />
    <!-- acrescentar imagem mobile -->
    <!-- <Gif src="https://i.imgur.com/k3IcvrG.png" alt="alex-dashboard" /> -->
    <Title content="ALEXSync" />
    <Description content="Utilize o ALEX mesmo sem conexão com a internet!" />
    <!-- acrescentar imagem mobile -->
    <!-- <Gif src="https://i.imgur.com/k3IcvrG.png" alt="alex-dashboard" /> -->
    <Video link="https://www.youtube.com/embed/cVPIWa9ASOI" />
    <div class="meet-cards-grid">
      <MeetCard
        src="https://i.imgur.com/gNEDMOe.png"
        content="Conheça a Equipe de Pesquisa"
      />
      <MeetCard
        src="https://i.imgur.com/8mJx3BG.png"
        content="Conheça a Equipe de Desenvolvimento"
      />
    </div>
    <Footer />
  </div>
</template>

<script>
export default {};
</script>