<template>
  <button class="button" :type="type">{{ value }}</button>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.button {
  background: #01152a;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}
</style>