<template>
  <div class="card-container">
    <div class="card">
      <Title :content="content" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin: 20px;
    background: #1E252D;
    height: 300px;
    border-radius: 3px;
  }
</style>