<template>
  <p class="description">{{ content }}</p>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.description {
  width: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #535353;
  padding: 0 20px;
  max-width: 500px;
  margin: 20px auto;
}

@media (min-width: 700px)
{
  .description {
    margin: 20px auto;
    width: auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
  }
}
</style>