<template>
  <footer class="footer-container">
    <!-- <Button type="button" value="Quero entrar nessa!" /> -->
    <div class="projects">
      <h3 class="footer-title">outras páginas</h3>
      <a href="#" class="link">Sobre o projeto</a>
      <a href="#" class="link">Planos de Aprendizagem</a>
      <a href="#" class="link">Para o público</a>
      <a href="#" class="link">ALEXSync</a>
      <a href="#" class="link">Sobre nós</a>
    </div>

    <div class="projects">
      <h3 class="footer-title">parceiros</h3>
      <div class="friendly-projects">
        <img
          src="https://projetoalex.cc/_nuxt/img/logo-nexa-padrao.2bdd060.png"
          alt="NEXA"
          class="friendly-project"
        />
        <img
          src="https://projetoalex.cc/_nuxt/img/Cinfo.9f02bcc.png"
          alt="CINFO"
          class="friendly-project"
        />
        <img
          src="https://projetoalex.cc/_nuxt/img/ifal.135daf3.png"
          alt="IF"
          class="friendly-project"
        />
        <img
          src="https://projetoalex.cc/_nuxt/img/ufba.175c638.png"
          alt="UFBA"
          class="friendly-project"
        />
        <img
          src="https://projetoalex.cc/_nuxt/img/pei.125c463.png"
          alt="PEI"
          class="friendly-project"
        />
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
.footer-container {
  width: 100%;
  background: #1e252d;
  margin-top: 20px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.link {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.friendly-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 20px;
}

.friendly-project {
  width: 150px;
}

@media (min-width: 700px)
{
  .footer-container {
    flex-direction: row;
    justify-content: center;
  }
  
  .friendly-projects {
    display: flex;
  }

  .friendly-project {
    width: 100px;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .link {
    margin: 10px 0;
  }
}
</style>