<template>
  <section class="jumbotron-container">
    <Logo class="logoImg" />
    <p class="content">
      Uma plataforma para a educação híbrida, centrada no estudante e resistente
      a pandemias.
    </p>
    <Button type="button" value="Quero entrar nessa!" />
  </section>
</template>

<style scoped>
.jumbotron-container {
  width: 100%;
  height: 300px;
  background: #1e252d;

  /* alinhando elementos */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content {
  width: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.logoImg {
  width: 100px;
}
</style>