<template>
  <img :class="classImg" src="https://app.projetoalex.cc/images/alex.svg" alt="logo">
</template>

<script>
export default {
  props: {
    classImg: {
      type: String,
      required: false
    }
  }
}
</script>