<template>
  <section class="meet-card-container">
    <div class="meet-card">
      <div class="circle">
        <img :src="src" alt="code">
      </div>
      <p class="content">{{ content }}</p>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      required: true
    },
    src: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.meet-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meet-card {
  height: 300px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  margin: 10px 20px;
  background: #1E252D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #262b30;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #8181819a;
  padding: 0 20px;
}
</style>