<template>
  <nav class="navbar">
    <Logo />
    <img
      class="menu-icon"
      src="https://i.imgur.com/npHiCoh.png"
      alt="menu-icon"
      @click="handleView"
    />
    <div v-if="navContent" @click="handleView" class="nav-content">
      <ul class="content-list">
        <li><a class="nav-item" href="#">Sobre o projeto</a></li>
        <li><a class="nav-item" href="#">Planos de Aprendizagem</a></li>
        <li><a class="nav-item" href="#">Para o público</a></li>
        <li><a class="nav-item" href="#">ALEXSync</a></li>
        <li><a class="nav-item" href="#">Sobre nós</a></li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      navContent: false,
    };
  },
  methods: {
    handleView() {
      if (this.navContent) {
        this.navContent = false;
      } else {
        this.navContent = true;
      }
    },
  },
};
</script>

<style scoped>
.navbar {
  background-color: #01152a;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  position: absolute;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
}

.nav-content {
  background-color: #01152a;
  width: 100%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 49px;
}

.content-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
</style>