<template>
  <article class="topic-container">
    <img :src="src" :alt="alt" />
    <p class="content">{{ content }}</p>
  </article>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      required: true,
    },
    content: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.content {
  width: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #535353;
  padding: 0 20px;
  max-width: 500px;
}
</style>