<template>
  <section class="video-topic-container">
    <p class="description">{{ content }}</p>
    <div class="video-container">
      <iframe class="video" :src="link"> </iframe>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    textType: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: true,
    },
    content: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.description {
  width: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #535353;
  padding: 0 20px;
  max-width: 500px;
  margin: 20px auto;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  height: 300px;
  border: none;
}

@media (min-width: 700px) {
  .video-topic-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0;
  }

  .video-container {
    width: 50%;
  }
}
</style>