<template>
  <div class="video-container">
    <iframe class="video" :src="link">
    </iframe>
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  height: 300px;
  border: none;
}

@media (min-width: 700px)
{
  .video-container {
    width: 100%;
  }
}
</style>